.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myStyle {
  background-color: white;
}

.quoteDefault {
  width: 110px;
  height: 140px;
  margin: 0px;
  border-style: ridge;
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.quoteLoss1 {
  width: 110px;
  height: 140px;
  margin: 0px;
  border-style: ridge;
  background-color: #FFCCCB;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.quoteLoss2 {
  width: 110px;
  height: 140px;
  margin: 0px;
  border-style: ridge;
  background-color: #FC94A1;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.quoteLoss3 {
  width: 110px;
  height: 140px;
  margin: 0px;
  border-style: ridge;
  background-color: #FC6C85;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.quoteLoss4 {
  width: 110px;
  height: 140px;
  margin: 0px;
  border-style: ridge;
  background-color: #ED2938;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.quoteGain1 {
  width: 110px;
  height: 140px;
  margin: 0px;
  border-style: ridge;
  background-color: #CDFFCC;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.quoteGain2 {
  width: 110px;
  height: 140px;
  margin: 0px;
  border-style: ridge;
  background-color: #B0F5AB;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.quoteGain3 {
  width: 110px;
  height: 140px;
  margin: 0px;
  border-style: ridge;
  background-color: #90EF90;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

.quoteGain4 {
  width: 110px;
  height: 140px;
  margin: 0px;
  border-style: ridge;
  background-color: #3BCA6D;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: -10px;
  margin-top: 2px;
  text-align: center;
}

.innerData {
  margin-bottom: 0px;
  margin-top: -5px;
}